.Apitable{
    display: flex;
    justify-content: space-evenly;
    align-items: top;
}
.inside{
    display: flex;
    flex-direction: column;
    width: 25%;
    white-space: wrap;
    
}
.inside button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}
